{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "inline-dotenv",
            {
                "path": "./.env"
            }
        ]
    ],
    "env": {
        "test": {
          "plugins": ["@babel/plugin-transform-runtime"]
        }
      }
}
